<div>
  <div>
    <h3>Normale Velos</h3>
    <div class="input-group mb-3">
      <button class="btn btn-lg btn-outline-secondary" type="button" (click)="updateRegularBike(-1)">-</button>
      <input type="text" class="form-control form-control-lg" placeholder="0" [(ngModel)]="availability.regularBikes" readonly="readonly" />
      <button class="btn btn-lg btn-outline-secondary" type="button" (click)="updateRegularBike(+1)">+</button>
    </div>
  </div>
  <div>
    <h3>Cargobikes</h3>
    <div class="input-group mb-3">
      <button class="btn btn-lg btn-outline-secondary" type="button" (click)="updateCargoBike(-1)">-</button>
      <input type="text" class="form-control form-control-lg" placeholder="0" [(ngModel)]="availability.cargoBikes" readonly="readonly" />
      <button class="btn btn-lg btn-outline-secondary" type="button" (click)="updateCargoBike(+1)">+</button>
    </div>
  </div>
  <div>
    <h3>Veloanhänger</h3>
    <div class="input-group mb-3">
      <button class="btn btn-lg btn-outline-secondary" type="button" (click)="updateBikeTrailes(-1)">-</button>
      <input type="text" class="form-control form-control-lg" placeholder="0" [(ngModel)]="availability.bikeTrailers" readonly="readonly" />
      <button class="btn btn-lg btn-outline-secondary" type="button" (click)="updateBikeTrailes(+1)">+</button>
    </div>
  </div>
  <div>
    <h3>Veloverleih geöffnet?</h3>
    <div class="input-group mb-3">
      <p-inputSwitch [(ngModel)]="availability.isOpen" (onChange)="update()"></p-inputSwitch> <span style="margin-left: 20px">{{availability.isOpen ? "Ja" : "Nein"}}</span>
    </div>
  </div>
</div>
