<div class="container">
  <div class="row">
    <div class="col-4">
      <p-calendar [(ngModel)]="startDateRange" (ngModelChange)="refreshEntries()" dateFormat="dd.mm.yy" [selectOtherMonths]="true" [showIcon]="true"></p-calendar>
    </div>
    <div class="col-1">-</div>
    <div class="col-4">
      <p-calendar [(ngModel)]="endDateRange" (ngModelChange)="refreshEntries()" dateFormat="dd.mm.yy" [selectOtherMonths]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>
  <div class="row" *ngFor="let weatherEntry of weatherEntries">
    <div class="col-sm-2">{{weatherEntry.date | date}}</div>
    <div class="col-sm-1">{{dayTimeStringMap.get(weatherEntry.dayTime)}}</div>
    <div class="col-sm-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="weatherEntry.temperature" (ngModelChange)="weatherEntryChanged(weatherEntry)" placeholder="27">
        <span class="input-group-text">C°</span>
      </div>
    </div>
    <div class="col-sm-5">
      <p-selectButton [options]="weatherOptions" [(ngModel)]="weatherEntry.weather" (ngModelChange)="weatherEntryChanged(weatherEntry)">
        <ng-template let-item>
          <img [src]="item.src" style="height:20px" [pTooltip]="item.description" />
        </ng-template>
      </p-selectButton>
    </div>
  </div>
</div>
